{% extends 'base.html.twig' %}

{% block title %}
    Demande de création d'entreprise
{% endblock %}

{% block body %}
    <h1>Bonjour {{ firstname }} {{ lastname }},</h1>
    <p>
        Nous sommes ravis de vous informer que votre demande de création d'entreprise, {{ companyName }}, a été acceptée.
    </p>
    <p>
        Nous vous félicitons pour cette étape importante et nous sommes impatients de voir ce que vous allez accomplir avec votre nouvelle entreprise.
    </p>
    <p>
        Cordialement,
    </p>
    <p>
        L'équipe Rent-A-Dream
    </p>
{% endblock %}
